/* App.css */
.game-board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0;
}

.game-board-preview {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.game-board-preview-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    flex: 1;
}

.game-board-preview-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    justify-content: space-between;
}
.game-board-preview-row p {
    margin: 0 10px;
    font-size: 0.9em;
}

.move-history {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.move {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    margin: 0 auto 5px;
    border-bottom: 1px solid #333;
}
.move > div {
    margin: auto;
    padding: 0 10px;
    /*width: 70%;*/
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: nowrap;
}

.row-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    /*gap: 2px;*/
}
.row-details p {
    margin: 0;
    font-size: 0.9em;
}

.chocolates {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    /*margin-right: 10px;*/
    width: 100%;
}

.chocolate-button {
    margin: 2px;
    padding: 10px;
    background-color: #3339; /* Chocolate color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chocolate-button.highlight-player-one {
    background-color: #933; /* Darker chocolate */
}
.chocolate-button.highlight-player-two {
    background-color: #339; /* Lighter chocolate */
}

.player-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 0.5s ease;
}

.player-background.player-one {
    background: linear-gradient(90deg, #311, #111);
}
.player-background.player-two {
    background: linear-gradient(90deg, #111, #113);
}

.player-background.player-one-wins {
    background-color: #522;
}

.player-background.player-two-wins {
    background-color: #225;
}
.player-one-container {
    display: flex;
    background: #311;
    outline: 2px solid #933;
    padding: 4px 7px;
    border-radius: 5px;
    color: #caa;
}
.player-two-container {
    display: flex;
    background: #113;
    outline: 2px solid #339;
    padding: 4px 7px;
    border-radius: 5px;
    color: #9cc;
}

.row-info {
    text-align: left;
}

.row-info p {
    margin: 0;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover:not(.chocolate-button) {
    background-color: #3a5a3a;
}

button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.spectator-count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-weight: bolder;
}

.available-online-games-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 750px;
}

.available-online-game {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 250px;
    background-color: #1a1a1acc;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.available-online-game button {
    border: 1px #fff solid;
}
